{% extends "base.html" %}

{% block title %}Farmer Registration{% endblock %}
<link rel="stylesheet" href="/static/css/Framer_Resitration_style.css">

{% block content %}
     <!-- Flash Messages -->
     {% with messages = get_flashed_messages(with_categories=True) %}
     {% if messages %}
         <div>
             {% for category, message in messages %}
                 <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                     {{ message }}
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                 </div>
             {% endfor %}
         </div>
     {% endif %}
     {% endwith %}
<br>
<div class="registration-container">
  <!-- Logo Section -->
  <div class="logo-container">
    <img src="/static/images/logo1.png" alt="Logo">
  </div>

  <!-- Form Section -->
  <div class="wrapper">
    <h2 style="color: rgb(17, 204, 17);">Farmer Registration</h2>

    <form method="POST" action="{{ url_for('farmer_registration') }}">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" name="name" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your email" name="email" required>
      </div>
      <div class="input-box">       
        <input type="text" placeholder="Enter Phone No." name="phone" required>
      </div>
      <div class="input-box">
        
        <input type="text" placeholder="Create Username" name="username" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Create password" name="password" required>
      </div>
      <div class="policy">
        <input type="checkbox" required>
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="{{ url_for('farmer_login') }}">Login now</a></h3>
      </div>
    </form>
  </div>
</div>
<br><br>

{% endblock %}
