{% extends "base.html" %}

{% block title %}Home - KrishiDisha: Empowering Farmers with AI{% endblock %}

{% block content %}

  <div class="content-box" id="content-box-1">
    <div class="dark-overlay"></div>
      <img src="static/images/crop1.png" alt="Image 1">
      <div class="text-content">
          <h1 class="animate-text">Welcome to KrishiDisha</h1>
          <p class="animate-text">
            Unlock the full potential of your farm with KrishiDisha, an AI-powered crop and fertilizer recommendation system. Get personalized insights to optimize yields, enhance resource management, and practice sustainable farming.
          </p>
          <div class="container">
            <a href="{{ url_for('farmer_registration') }}" class="btn btn-success btn-lg animated bounceIn">Get Started</a>
          </div>
      </div>
  </div>

  <div class="content-box" id="content-box-2">
    <div class="dark-overlay"></div>
      <img src="static/images/crop2.jpeg" alt="Image 2">
      <div class="text-content">
          <h1 class="animate-text">AI for Precision Agriculture</h1>
          <p class="animate-text">
            Make data-driven decisions with KrishiDisha’s personalized crop, fertilizer recommendations and yield prediction. Powered by machine learning, we help you select the right crops and fertilizers tailored to your unique soil and climate conditions.
          </p>
          <div class="container">
            <a href="{{ url_for('farmer_registration') }}" class="btn btn-success btn-lg animated bounceIn">Get Started</a>
          </div>
      </div>
  </div>

  <div class="content-box" id="content-box-3">
    <div class="dark-overlay"></div>
      <img src="static/images/crop3.png" alt="Image 3">
      <div class="text-content">
          <h1 class="animate-text">Sustainability through Smart Farming</h1>
          <p class="animate-text">
            Our cutting-edge AI algorithms guide you towards sustainable farming practices, ensuring optimal water use, fertilizer application, and crop selection to increase productivity while reducing environmental impact.
          </p>
          <div class="container">
            <a href="{{ url_for('farmer_registration') }}" class="btn btn-success btn-lg animated bounceIn">Get Started</a>
          </div>
      </div>
  </div>

  <div class="content-box" id="content-box-4">
    <div class="dark-overlay"></div>
      <img src="static/images/crop4.png" alt="Image 4">
      <div class="text-content">
          <h1 class="animate-text">Crop Disease Detection with AI</h1>
          <p class="animate-text">
            Upload crop images and let KrishiDisha’s AI-powered disease detection engine identify diseases, offer real-time solutions, and recommend appropriate supplements to restore plant health. Prevent loss and increase yield with precision.
          </p>
          <ul class="animate-text">
            <li>Ensure optimal soil pH and nutrient levels.</li>
            <li>Practice proper irrigation techniques.</li>
            <li>Monitor crops for early disease detection.</li>
            <li>Rotate crops for healthier soil.</li>
          </ul>
          <div class="container">
            <a href="{{ url_for('farmer_registration') }}" class="btn btn-success btn-lg animated bounceIn">Get Started</a>
          </div>
      </div>
  </div>

  <div class="content-box" id="content-box-5">
    <div class="dark-overlay"></div>
      <img src="static/images/crop5.png" alt="Image 5">
      <div class="text-content">
          <h1 class="animate-text">Healthy Plants, Healthy Yields</h1>
          <p class="animate-text">
            Grow your crops with confidence by following essential farming tips. From soil health to pest management, KrishiDisha provides actionable insights to help you maintain robust plants and maximize yield using prediction.
          </p>
        
          <div class="container">
            <a href="{{ url_for('farmer_registration') }}" class="btn btn-success btn-lg animated bounceIn">Get Started</a>
          </div>
      </div>
  </div>

  <div class="content-box" id="content-box-5">
    <div class="dark-overlay"></div>
      <img src="static/images/crop2.jpeg" alt="Image 5">
      <div class="text-content">
          <h1 class="animate-text">Crop Supplements: Boost Growth</h1>
          <p class="animate-text">
            KrishiDisha offers a range of crop supplements designed to enhance plant health and yield. Protect your crops from diseases and stress factors with the right supplements.
          </p>
          <div class="container">
            <a href="{{ url_for('farmer_registration') }}" class="btn btn-success btn-lg animated bounceIn">Get Started</a>
          </div>
      </div>
  </div>

<!-- Content Box for Footer --> 
 


{% endblock %}
